/* --- MEDIA QUERIES --- */
@media screen and (max-width: 1070px) {
  :root { --mobile-style: none; }
  .about-container {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  
  section {
    padding: 2rem 1rem;
    padding-top: 2rem;
    
  }

  .header-content {
    grid-template-columns: 1fr;

    .left-header .image {
      margin: .5rem auto;
      width: 250px;
      height: 250px;
    }

    .right-header {
      padding-right: 0;
      text-align: center;
      padding-top: 0rem;

      .btn-con {
        align-self: center;
      }
    }
  }

  .navbar .nav-links {
    display: none;
  }
  .portfolios {
    flex-direction: column;
    margin: auto;
    .portfolio-item{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin: auto;
      .portfolio-img {
        width: 100%;
      }

      .portfolio-text{
        width: 100%;
      }
    }
    .left-border{
         border-top: 8px solid var(--color-secondary);
      }
    .right-border{
        border-bottom: 8px solid var(--color-secondary);
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: auto;
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2rem;
    }
  }

  .main-title h2 {
    font-size: 2.5rem;

    span {
      font-size: 2.5rem;
    }

    .bg-text {
      font-size: 3.5rem;
    }
  }

  .footer {
    padding: 2rem 1rem;
  }
}
